@{
    ViewData["Title"] = "Edit Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GummiBearKingdom.Models.Product

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProductId)
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Price)
        @Html.EditorFor(model => model.Price, new { type = "number", step = "0.01" })
    </div>
    <div class="form-group">
        <label>Country Of Origin</label>
        @Html.EditorFor(model => model.CountryOfOrigin)
    </div>
        <input class="btn btn-success" type="submit" value="Update Product" />
        }
